kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: yc-network-hdd
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: disk-csi-driver.mks.ycloud.io
volumeBindingMode: WaitForFirstConsumer
parameters:
  type: network-hdd
  csi.storage.k8s.io/fstype: ext4
allowVolumeExpansion: false
reclaimPolicy: Delete

---

kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: yc-network-ssd
provisioner: disk-csi-driver.mks.ycloud.io
volumeBindingMode: WaitForFirstConsumer
parameters:
  type: network-ssd
  csi.storage.k8s.io/fstype: ext4
allowVolumeExpansion: false
reclaimPolicy: Delete